
  body {
    border: 1rem solid gray;
    margin: 12rem;
    background-color: aliceblue;
  }


  .button-row {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.button-row button {
    margin: 5px;
    font-size: 2rem;
    flex:1;
    
}





